* {
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  height: auto;
  margin-top: 10px;
}
.card {
  border: 1px solid rebeccapurple;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.card h2 {
  text-transform: capitalize;
}
.flexData {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
